.loginStart {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	.headerLoginStart {
		height: 35vh;
		div {
			display: flex;
			justify-content: flex-start;
			gap: 0.5rem;
			align-items: flex-end;
			&::before {
				content: '';
				position: absolute;
				top: -8rem;
				left: -4rem;
				width: 250px;
				height: 250px;
				border: 1px solid var(--primary--color);
				border-radius: 50%;
				z-index: 10;
			}
			&::after {
				content: '';
				position: absolute;
				top: -7rem;
				left: -5rem;
				width: 250px;
				height: 250px;
				border: 1px solid var(--secondary--color);
				border-radius: 50%;
			}
			span {
				font-size: 1.5rem;
				font-weight: bold;
			}
		}
	}
	.mainLoginStart {
		height: 55vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		div {
			.titleMainLogin {
				font-size: 36px;
				font-weight: 900;
				margin-bottom: 8px;
			}
			.textMainLogin {
				font-weight: 400;
				color: var(--gray--light--color);
			}
		}
		.footerMainLogin {
			width: 100%;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			align-items: center;
			.linkConnect {
				width: 100%;
				background-color: var(--primary--color);
				text-align: center;
				padding: 20px 24px;
				border-radius: 10px;
				text-decoration: none;
				font-weight: 900;
				color: var(--white--color);
				margin: 8px;
			}
			span {
				border-radius: 10px;
				padding: 20px 24px;
				margin: 8px;
				border: 1px solid var(--white--color);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}

.loginConnect {
	padding: 1.5rem;
	.headerLoginConnect {
		display: flex;
		align-items: center;
		.btnBackHeader {
			transform: rotateY(180deg);
			height: 20px;
			width: 20px;
		}
		.titleHeaderConnect {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: baseline;
			gap: 0.5rem;
			span {
				font-size: 1.3rem;
				font-weight: bold;
			}
		}
	}
	.mainLoginConnect {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		.headerMainConnect {
			div {
				display: flex;
				margin: 1rem auto;
				img {
					width: 207px;
					height: 207px;
					margin: auto;
				}
			}
			.titleHeaderMain {
				font-size: 36px;
				font-weight: 900;
				margin-bottom: 8px;
			}
			.textHeaderMain {
				font-size: 17px;
				font-weight: 400;
				color: var(--gray--light--color);
				span {
					font-weight: bold;
					color: var(--white--color);
				}
			}
		}
		.footerMainConnect {
			display: flex;
			gap: 12px;
			flex-direction: column;
			width: 100%;
			.cardFooterConnect {
				background-color: var(--secondary--color);
				border-radius: 10px;
				padding: 24px;
				display: flex;
				gap: 10px;
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				box-sizing: border-box;
				.imgCardConnect {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
	.footerLoginConnect {
		margin-top: 36px;
		.btnLoginConnect {
			width: 100%;
			background-color: var(--primary--color);
			text-align: center;
			padding: 20px 24px;
			border-radius: 10px;
			text-decoration: none;
			font-weight: 900;
			color: var(--white--color);
		}
	}
}
